@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    text-align: center;
    background-color: #f9f9f9;
    font-family: 'Raleway', sans-serif;
}

form{
    width: 25%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 15px;
    padding-bottom: 0px;
    background-color: white;
}
.form_titel{
    width: 25%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-bottom: none;
    margin: auto;
    background-color: #f5f5f5;
    text-align: center;
}
.form_titel h1{
    font-size: 16px;
    color: #85868d ;
    font-weight: 500;
    font-family: inherit;   

}
 form input {
    border: 1px solid #c0c0c0;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 15px;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
    color: #85868d;

}
input:focus{
    border:none;
    border-color: #176183;
    box-shadow: 0 0 5px #428bca;
}
.school_name h1{
    font-size: 14px;
    color: #85868d ;
    font-weight: 500;
    padding-bottom: 15px;
    font-family: inherit;
    text-transform: uppercase;
}
form .btn{
    background-color: #03718c;
    width: 100%;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 200;
}
.unable_login{
    margin:auto;
    padding: 12px 12px;
    border-top: 1px solid #c0c0c0;
    margin-top: 25px;
}
.unable_login h2{
    font-size: 16px;
}
.unable_login a{
    text-decoration: none;
    color: #428bca;
    font-weight: 500;
}

.wrong h3{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}
/* ****************************** Media Query ***************************** */
@media only screen and (max-width: 1200px){
    form{
        width: 85%;
    }
    .form_titel{
        width: 85%;
    }
}
@media only screen and (max-width: 1000px){
    form{
        width: 95%;
    }
    .form_titel{
        width: 95%;
    }
}

/* *******************************Container*********************************** */
